extends layout
block content
  .container  
    .row.welcome.text-center.container
      .col-xs-12
        p#welcome-top
          | Bienvenido a Tu portal de Anuncios: 
          strong T
          | rinidad de la 
          strong V
          | ida
        .hr-line
    #myCarousel.carousel.slide(data-ride='carousel')
          // Wrapper for slides
          .carousel-inner
            .item.active
              img.img-carrusel.img-opac(src='../img/retiros.gif')
              .carousel-caption
                .form-group.label-taller.font-retiro
                  p.text-center.font-categories.size-title-categories Retiros
                  .col-xs-12  
                    form(action='/', method='POST')
                      label.label-taller.size-categories.media(for='sel1') Selecciona una categoria&nbsp; 
                        i.glyphicon.glyphicon-hand-down(width='120px')
                      select#sel1.form-control.form-personal.select-taller.col-md-1
                        option(value='1') Categoria...
                        option(value='2') Yoga
                        option(value='3') Ayurveda
                        option(value='4') Tantra
                        option(value='5') Trinidad
                      
            // End Item
            .item
              img.img-carrusel.img-opac(src='../img/formaciones.gif', height='-300px;')
              .carousel-caption
                .form-group.label-taller.font-retiro
                  p.text-center.font-categories.size-title-categories Formaciones
                  .col-xs-12  
                    form(action='/', method='POST')
                      label.label-taller.size-categories.media(for='sel1') Selecciona una categoria&nbsp; 
                        i.glyphicon.glyphicon-hand-down(width='120px')
                      select#sel1.form-control.form-personal.select-taller.col-md-1
                        option(value='1') Categoria...
                        option(value='2') Yoga
                        option(value='3') Ayurveda
                        option(value='4') Tantra
                        option(value='5') Trinidad
                    
            // End Item
            .item
              img.img-carrusel.img-opac(src='../img/talleres.gif')
              .carousel-caption
                .form-group.label-taller.font-retiro
                  p.text-center.font-categories.size-title-categories Talleres
                  .col-xs-12  
                    form(action='/', method='POST')
                      label.label-taller.size-categories.media(for='sel1') Selecciona una categoria&nbsp; 
                        i.glyphicon.glyphicon-hand-down(width='120px')
                      select#sel1.form-control.form-personal.select-taller.col-md-1
                        option(value='1') Categoria...
                        option(value='2') Yoga
                        option(value='3') Ayurveda
                        option(value='4') Tantra
                        option(value='5') Trinidad
                    
            // End Item
            .item
              img.img-carrusel.img-opac(src='../img/conferencias.gif')
              .carousel-caption
                .form-group.label-taller.font-retiro
                  p.text-center.font-categories.size-title-categories Conferencias
                  .col-xs-12  
                    form(action='/', method='POST')
                      label.label-taller.size-categories.media(for='sel1') Selecciona una categoria&nbsp; 
                        i.glyphicon.glyphicon-hand-down(width='120px')
                      select#sel1.form-control.form-personal.select-taller.col-md-1
                        option(value='1') Categoria...
                        option(value='2') Yoga
                        option(value='3') Ayurveda
                        option(value='4') Tantra
                        option(value='5') Trinidad
                    
              // End Item
            .item
              img.img-carrusel.img-opac(src='../img/maestros.gif')
              .carousel-caption
                .form-group.label-taller.font-retiro
                  p.text-center.font-categories.size-title-categories Instructores 
                  .col-xs-12  
                    form(action='/', method='POST')
                      label.label-taller.size-categories.media(for='sel1') Selecciona una categoria&nbsp; 
                        i.glyphicon.glyphicon-hand-down(width='120px')
                      select#sel1.form-control.form-personal.select-taller.col-md-1
                        option(value='1') Categoria...
                        option(value='2') Yoga
                        option(value='3') Ayurveda
                        option(value='4') Tantra
                        option(value='5') Trinidad
                      //- .col-md-1
                      //-   span.input-group-btn
                      //-     button.btn.btn-warning.search(type='button').i.glyphicon.glyphicon-search 
   
                  //- span#basic-addon2.input-group-addon.i.glyphicon.glyphicon-search Encuentra
            // End Item
          // End Caousel Inner
          ul.nav.nav-pills.nav-justified.size-categories
            li.active(data-target='#myCarousel', data-slide-to='0')
              a(href='#')
                i.glyphicon.glyphicon-home
                |  Retiros
            li(data-target='#myCarousel', data-slide-to='1')
              a(href='#')
                i.glyphicon.glyphicon-education
                |  Formaciones
            li(data-target='#myCarousel', data-slide-to='2')
              a(href='#')
                i.glyphicon.glyphicon-edit
                |  Talleres
            li(data-target='#myCarousel', data-slide-to='3')
              a(href='#')
                i.glyphicon.glyphicon-info-sign
                |  Conferencias
            li(data-target='#myCarousel', data-slide-to='4')
              a(href='#')
                i.glyphicon.glyphicon-user
                |  Instructores

          