extends layout
block content
	.welcome.text-center.container
		p.welcome-top Acceso a usuarios
		.hr-line
	.container
		a#login(href="") Registrarse
		a#register(href="") Iniciar Sesi칩n
	.container.login-top
		.row
			.col-md-6.col-md-offset-3
				.panel.panel-login
					.panel-body
						.row
							.col-lg-12
								form#login-form(action='/login', method='post', role='form', style='display: block;')
									h2.font-categories LOGIIN
									.form-group
										input#username.form-control(type='text', name='username',placeholder='Nombre de usuario', value='')
									.form-group
										input#password.form-control(type='password', name='password', placeholder='Contrase침a')
									.col-xs-6.form-group.pull-left.checkbox
										input#checkbox1(type='checkbox', name='remember')
										label(for='checkbox1') Recordar contrase침a
									.col-xs-6.form-group.pull-right
										a(href='/acount')
											input#login-submit.form-control.btn.btn-login.font-categories(type='submit', name='login-submit', value='Log In')


								form#register-form(action='/register', method='post', role='form', style='display: none;')
									h2.font-categories REGISTRO
									.form-group
										input#username.form-control(type='text', name='username', placeholder='Nombre de usuario', value='')
									.form-group
										input#email.form-control(type='email', name='email', placeholder='Email', value='')
									.form-group
										input#password.form-control(type='password', name='password', placeholder='Contrase침a')
									
									.form-group
										.row
											.col-sm-6.col-sm-offset-3
												
												input#register-submit.form-control.btn.btn-register.font-categories(type='submit', name='register-submit', value='Registrarme')
		                     	
	if validationErrors
		.col-sm-offset-4.col-sm-4
			div.alert.alert-danger(role='alert')
				ul.list-Error
					each error in validationErrors
						li #{error}
	if validationSucces
		.col-sm-offset-4.col-sm-4
			div.alert.alert-success(role='alert')
				ul.list-Succes
					each succes in validationSucces
						li #{succes}
	if validationLogin
		.col-sm-offset-4.col-sm-4
			div.alert.alert-danger(role='alert')
				ul.list-Error
					each login in validationLogin
						li #{login}

	



							
								
		//- if (h2===LOGIN)						 				
		//- 	a#login.text-center A&uacute;n no estoy registrado. Registrarme!
		//- else
		//- 	a#register.text-center Ya estoy registrado. Iniciar sesion!
						}
												

	script(src="/bower_components/jquery/dist/jquery.min.js")
	script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
	script(src='/js/register.js')